<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php">
	<testsuites>
		<testsuite>
			<directory>tests/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory suffix=".php">src/</directory>
		</whitelist>
	</filter>
	<logging>
		<log type="coverage-html" target="phpunit/coverage/" />
	</logging>
	<php>
		<ini name="display_errors" value="On" />
		<ini name="display_startup_errors" value="On" />
		<ini name="error_reporting" value="-1" />
		<ini name="date.timezone" value="Europe/Amsterdam" />
	</php>
</phpunit>
